#left {
	position:fixed;
	width:50%;
    height:100vh;
    padding:5px;
}

#right {
	position:fixed;
	width:50%;
    height:100vh;
    padding:5px;
    left:50%;
    border-left: 1px solid black;
}

img {
	position:absolute;
	width:40px;
	height:40px;
}
